.sidenav-header
{
    background: #172b4d;
}

.container-fluid.mt--6 > div:first-child {
    min-height: 70vh;
}

.alert {
    position: absolute;
    top: 1%;
    z-index: 999999;
    width: 95%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


table.table.align-items-center.table-flush {
    min-height: 140px;
}